# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
*.env
.venv/
venv/

# VS Code (optional)
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Pip-related
pip-log.txt

# Test / coverage
htmlcov/
.coverage
coverage.xml
*.cover

# MyPy
.mypy_cache/

# PyInstaller
dist/
build/
*.spec
